.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow: hidden;
}

#header {
    display: flex;
    flex: 1;
    max-height: 50px;
    background-color: #772222;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

#content {
    display: flex;
    flex: 9;
    overflow: hidden;
}

#sideMenu {
    display: flex;
    flex: 1;
    background-color: #222222;
    flex-direction: column;
    overflow: hidden;
}

#display {
    display: flex;
    flex: 10;
    overflow: hidden;
    background-color: #444444;
}

#optionsButton {
    display: flex;
    flex: 1;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    max-height: 40px;
    cursor: pointer;
    border-bottom-style: solid;
    border-color: white;
}

#topicList {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

#topic {
    display: flex;
    flex: 1;
    max-height: 40px;
    min-height: 40px;
    align-items: center;
    background-color: #333333;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    cursor: pointer;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

#topic:hover {
    background-color: #444444;
}

#topic.selected {
    background-color: #444444;
    border-radius: 0;
    font-weight: bold;
}

#topicName {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#feed {
    display: flex;
    flex: 0;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

#feed.selected {
    flex: 1;
}

#feedElem {
    display: flex;
    flex: 1;
    min-height: 200px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #222222;
    color: white;
    padding: 5px;
}

#feedElem.extended {
    min-height: 425px;
}

#articleImage {
    max-height: 200px;
    min-width: 200px;
    max-width: 200px;
    flex-direction: column;
    overflow: hidden;
    margin-right: 10px;
}

#articleColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

#articleTitle {
    display: flex;
    flex: 1;
    max-height: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #772222;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    padding-right: 20px;
}

#articleDescription {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    background-color: #333333;
}

#articleDescription.extended {
    overflow: auto;
}

#youtubeDescription {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    background-color: #333333;
}

#youtubeDesc {
    display: flex;
    flex: 1;
    margin-left: 10px;
    flex-direction: column;
}

#youtubeDesc.extended {
    overflow: auto
}

#articleAuthor {
    display: flex;
    flex: 1;
    max-height: 20px;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 5px;
}

#articleDate {
    display: flex;
    flex: 1;
    font-style: italic;
    background-color: #333333;
    margin: 5px;
    padding-left: 10px;
}

#articleSource {
    display: flex;
    flex: 1;
    margin: 5px;
    padding-left: 10px;
    max-height: 16px;
    font-size: 16px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

#articleSource.extended {
    white-space: normal;
    max-height: 100px;
}

#articleMore {
    display: flex;
    flex: 1;
    max-height: 24px;
    width: 24px;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

#settings {
    display: flex;
    flex: 0;
    flex-direction: column;
    overflow: hidden;
}

#settings.selected {
    flex: 1;
}

#closeSettings {
    display: flex;
    flex: 1;
    max-height: 40px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    background-color: #222222;
    border-bottom-style: solid;
    border-color: white;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

#cross {
    display: flex;
    flex: 1;
    max-width: 24px;
    max-height: 24px;
    border-style: solid;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
}

#settingList {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    color: white;
    align-items: flex-start;
    overflow-y: auto;
}

#settingTitle {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

#settingSquare {
    margin-bottom: 20px;
}

#sourceList {
    width: 100%;
    max-height: 400px;
    min-height: 400px;
    background-color: #222222;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#sourceElem {
    display: flex;
    flex: 1;
    background-color: #333333;
    min-height: 30px;
    max-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.slide-enter-active {
    animation: slide .2s;
}

.slide-leave-active {
    animation: slide .2s reverse;
}

@keyframes slide {
  from {opacity: 0}
  to {opacity: 100%}
}

[v-cloak] {
    display: none;
}